.toggle-button {
  display: flex;
  background-color: #42c2ff;
  color: #effffd;
  margin-top: 60px;
  z-index: 500;
  width: 150px;
}

.sidebar {
  position: fixed;
  top: 50px;
  left: 0px;
  height: calc(100vh - 50px);
  background-color: #85f4ff;
  max-width: 360px;
}
