.product-card {
    height: 300px;
    margin: 50px;
    color: #42C2FF;
}
.product-quantity {
    background-color: #B8FFF9;
    color: #42C2FF;
    width: 20px;
}

.product-name {
    color: #85F4FF;
}
