.navbar {
    position:fixed;
    background-color: #B8FFF9;
    color: #42C2FF;
    height: 50px;
    width: 100%;
    z-index: 10;
}

a {
  color:#42C2FF;
}

.header {
  display: flex;
  justify-content: center;
  margin-right: -20px;
  margin-top: -35px;
}
