.Hero {
    display: flex;
    justify-content: left;
    margin-top: -235px;
    width: 20%;
    /* max-width: 120px; */
    margin-left: 89%;
    /* max-width: 50%;
    height:100px; */
    z-index: 100;
}
.Intro {
    margin: 20px;
    color:#42C2FF;
}
